<% include partials/header %>
<div >


<h1>Compose</h1>
<form class="" action="/compose" method="post" class="container-fluid">
<label for="postTitle"">Tittle</label> <br>
<input type="text" name="postTitle"class="form-control"><br>
<label for="postBody">Posts</label><br>
<textarea name="postBody" rows="8" cols="80" class="form-control"></textarea><br>
  <!-- <input type="text" name="compose"class="container-fluid" class="form-control"><br> -->
  <button type="submit" name="submit" class="btn btn-primary">Publish</button>
</form>
</div>
<% include partials/footer %>
